@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');

$anim-text-offset: 1em;

body{
  font-family: 'Work Sans', sans-serif;
  background: #111;
  text-align: center;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button{
  touch-callout: none;
  user-select: none;
  display: inline-block;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #FFF;
  &__text{
    display: block;
    padding:1em 2em;
    text-transform: uppercase;
    font-weight: bold;
    &:before{
      content: attr(title);
    }
    &--bis{
      display: block;
      position: absolute;
      top: 0; left:0; right: 0; bottom: 0;
      transform: translateX(-1 * $anim-text-offset);
      opacity: 0;
    }
  }
  &__mask{
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: white;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
  }  
}

.button:hover{
  opacity: 1;
  .button__text{
    animation: fx-text .3s ease-out;
    &--bis{
      animation: fx-text-bis .3s ease-out;
    }
  }    
  .button__mask{
    animation: fx-mask .3s ease-out;
  }    
}

.button:active{
  opacity: 1;
  background: white;
  color: inherit;
}



@keyframes fx-mask {
  0%{
    transform: translateX(-100%) rotate(45deg);
  }
  100%{
    transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-text {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX($anim-text-offset);
    opacity: 0;
  }
}
@keyframes fx-text-bis {
  0%{
    transform: translateX(-1 * $anim-text-offset);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}